<!DOCTYPE html>
{% load django_bootstrap5 %}
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Employee Forms</title>
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <style type = "text/css">
        html{margin:5%;
            } 
    </style> 
    {% bootstrap_css %}
    {% bootstrap_javascript%}
   
    
</head>
<body>
    <h1><center>Register of Employee</center></h1>
    <center><span style='font-size:100px;'>&#128521;</span></center>
    <form method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        <input type="submit" class="btn btn-primary" value= "Register" ></input>
    </form>
</body>
</html>