<!DOCTYPE html> 
{% load django_bootstrap5 %} 

<html lang="pt-br"> 
<head> 
    <meta charset="UTF-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <title>The Employee Listing</title> 
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    {% bootstrap_css %} 
    {% bootstrap_javascript %} 
    <style type = "text/css">
        html{margin:5%;
            } 
    </style>  
</head> 
<body>
    <center><span style='font-size:100px;'>&#128522;</span></center>
    <h2><center>The Employeer Listing</center></h2> 
    <table class="table table-dark table-striped">
        <thead>
            <tr>
                <th>Employee name</th>
                <th> Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                {% for funcionario in object_list %}
                    <td>
                        <li>{{ funcionario.name }}</li>
                    </td>
                    <td>
                        <a href="{% url "listar_funcionario" pk=funcionario.id %}" class = "btn btn-primary">Shown data</a>
                        <a href= "{% url "editar_funcionario" pk=funcionario.id %}" class = "btn btn-success">Edit</a>
                        <a href= "{% url "remover_funcionario" pk=funcionario.id %}" class = "btn btn-danger">Remove</a>
                        <hr>
                    </td> 
            </tr>
                {% endfor %}
        </tbody>
    </table>


    <a href="{% url 'form_funcionario' %}" class="btn btn-primary">Add a new employee</a>


</body> 
</html>