<!DOCTYPE html>
{% load django_bootstrap5 %}
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> Remove Employee</title>
        <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
        <style type = "text/css">
            html{margin:5%;
                } 
        </style>
        {% bootstrap_css %}
        {% bootstrap_javascript %}
    </head>
<body>
    <center><span style='font-size:100px;'>&#128546;</span></center>
    <h2> Remove Employee: {{funcionario.name }}</h2>
     <li>cpf: {{ funcionario.cpf }} </li>
     <li>e-mail: {{ funcionario.email }} </li>
     <li>salary: {{ funcionario.salary }} </li>
    <form method="post">
        {% csrf_token %}
        <input type = "submit" class = "btn btn-danger" value = "Remove">
        <button type="button" class="btn btn-success" onClick="history.go(-1)">Go Back</button>
    </form>
</body>
</html>